.slider-container {
    margin-top: 125px;
}

.slider-container h5 {
    color: blue;;
    text-align: center;
    font-weight: bold;
}

.info-container {
    margin-top: 10%;
}

.info-container h5 {
    color:blue;;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.info-icon {
    color: red;
}

.info-container p {
    color: black;
    font-weight: 700;
}
