.slider-container {
    margin-top: 8%;
}

.slider-container h5 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

.info-container {
    margin-top: 10%;
}

.info-container h5 {
    color: blue;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.info-icon {
    color: red;
}

.info-container p {
    color: black;
    font-weight: 700;
}

@media(max-width: 1000px) and (min-width: 600px) {
    .slider-container {
        margin-top: 15%;
    }  
}

@media(max-width: 599px) {
    .slider-container {
        margin-top: 25%;
    }  
}