.innov-container {
    margin-top: 125px;
}

.innov-container h3{
    color: darkblue;
    font-weight: bold;
    text-align: center;
}

.quote-box {
    margin-top: 40px;
}

.quote-box p {
    margin-left: 60px;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote-box .fancy-dash {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: darkblue;
    position: absolute;
    top: 12px;
}

.quote-text-one {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    color: darkblue;
}

.quote-text-two {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;

    color: red;
}

.quote-author {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
    -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
    animation: fadein 5s;

    font-size: 1.1rem;
    font-weight: 600;
    float: right;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
