.innov-container {
    margin-top: 125px;
}

.innov-container h3{
    color: darkblue;
    font-weight: bold;
    text-align: center;
}

.quotes-container {
    margin-bottom: 70px;
}

.quote-box {
    margin-top: 30px;
}

.quote-box p {
    margin-left: 60px;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote-box .fancy-dash {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: darkblue;
    position: absolute;
    top: 15px;
}

@media (max-width: 600px) {
    .quote-box .fancy-dash {
        width: 20px;
    }
    .quote-box p {
        margin-left: 25px;
        font-size: 1.2rem;
    }
}

.quote-text-one {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    color: darkblue;
}

.quote-text-two {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;

    color: red;
}

.quote-author {
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s; /* Firefox < 16 */
    -ms-animation: fadein 6s; /* Internet Explorer */
    -o-animation: fadein 6s; /* Opera < 12.1 */
    animation: fadein 6s;

    font-size: 1.1rem;
    font-weight: 600;
    float: right;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.idea-container {
    margin-top: 35px;
    margin-bottom: 100px;
}

.idea-container video {
    width: 100%;
    height: calc(100vh - 200px);
}

.idea-container h5 {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Helvetica, sans-serif;
    margin-left: 10%;
    margin-top: 25%;
}

@media(max-width: 700px) {
    .idea-container h5 {
        margin-top: 5%;
    }
}

.idea-container .fancy-dash {
    display: inline-block;
    content: "";
    width: 25px;
    height: 4px;
    background-color: darkblue;
    position: relative;
    top: -10px;
}

.idea-container .upper-dash {
    display: inline-block;
    content: "";
    width: 2px;
    height: 100px;
    background-color: red;
    margin-left: 10%;
    position: absolute;
}

.idea-container p {
    margin-left: 15%;
    color: darkblue;
    font-size: 0.9rem;
    font-weight: 300;
    margin-right: 30%;
}

.idea-container hr {
    background-color: darkblue;   
    width: 60%;
    margin-left: 20%;
}

.carousel-item img {
    height: calc(100vh - 190px)!important;
}

.carousel-container {
    margin-bottom: 40px;
}